.site-header{
	border-bottom: 1px solid $border-dark;
	border-bottom-color: rgba(255, 255, 255, 0.05);
	padding-top: $spacing*2;
	padding-bottom: $spacing*2;
	padding-left: $spacing*2;
	padding-right: $spacing;
	position: relative;
	z-index: 100;
	@include transition(padding, .5s);

	.site-name{
		color: #FFF;
		float: left;
		font-size: 18px;
		text-decoration: none;
		text-transform: uppercase;
		@include disableTextSelection();
	}

	.site-description{
		margin-top: $spacing/2;
	}

	&.site-header--small{
		padding-top: $spacing;
		padding-bottom: $spacing;
	}

}

.site-hero{
	background-color: $bg-color-inverse;
	border-bottom: 1px solid rgba( 255, 255, 255, .1);
	color: #fff;
	padding-top: $spacing*4;
	padding-left: $spacing*2;
	padding-right: $spacing*2;
	padding-bottom: $spacing*4;
}

@media screen and (max-width: $tablet-portrait-down) {

	.site-header{
		padding-top: $spacing;
		padding-bottom: $spacing;

	}

	.site-hero{
		padding-top: $spacing*2;
		padding-bottom: $spacing*2;
	}

}

@media screen and (max-width: $mobile-down) {

	.site-header{
		padding-left: $spacing;
		padding-right: 0;
	}

	.site-hero{
		padding: $spacing*2 $spacing;
	}


}